

.custom-color-1 {
    color: #F23064; /* cor hexadecimal principal do portfólio */
}
/* medidas específicas */
.mb-6 {
    margin-bottom: 4rem;
}
.mt-6 {
    margin-top: 4rem;
}
.mb-7 {
    margin-bottom: 15rem;
}
.mt-7 {
    margin-top: 15rem;
}
.gap-6{
    gap: 19rem;
}
/* botão custumizado */
.custom-btn {
    background-color: #F23064; 
    color: #fff; 
    border: none; 
}

.btn-home:hover{
    color: #F23064;
    background-color: white;
    transform: scale(1.05);
}

.box:hover{
    transform: scale(1.05);
    transition: transform 0.6s ease;
}
/* css para os cards da section projects */
.card {
    position: relative;
    overflow: hidden;
    border: none;
}

.card img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
}

.card:hover .card-overlay {
    opacity: 1;
}

.project-card img {
    height: 21rem;  /* Ajuste a altura conforme necessário */  /* Garante que a imagem ocupe todo o espaço sem distorcer */
}

.nav-link:hover{
    background-color: #F23064;
}
